.idea
*.swp
.tags

# python
.pytest_cache

# sqlite
*.sqlite3

# log
*.log
*.log.*

# Django
*.pyc
__pycache__/
media
tmp/
db.sqlite3
migrations
.env

# static
static/*
!static/fonts/*

# vscode
.vscode
